body{
    font-family: 'Bungee Spice', cursive;
   /* background: url(images/orange-background.png);*/
   background: radial-gradient(circle, rgba(0,0,0,1) 35%, rgba(254,100,28,1) 100%);
}
h1{
    text-align: center;
    padding: 10px;
}
.imagen{
    max-height: 50px;
    text-align: center;
    margin-top: 20px;
}
.titulo-logo{
    text-align: center;
}
header{
    background-image: linear-gradient(to right, #fe641c,#000000,#000000,#fe641c);
}